<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- jquery -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script> <!-- Change to min file -->
  <!-- D3 -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <!-- /public/js/.. -->
  <script type="text/javascript" src="js/map.js"></script>
  <script type="text/javascript" src="js/mapTools.js"></script>
  <script type="text/javascript" src="js/mapFilters.js"></script>
  <!-- /public/css/.. -->
  <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
  <!-- Leaflet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin="" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw-src.css" />
  <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>


  <title>Visualise Spatial Queries</title>

</head>

<body>

  <nav class="navbar navbar-default nav">
    <div class="container-fluid">
      <div class="navbar-header">
        <p class="h3 navbar-text">Visualise MongoDB Spatial Queries</p>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-12 no-padding">
        <!--Delete -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-8 no-padding">
            <div class="col-md-4 no-padding float-bottom">
              <div>
                <b>Collection:</b> <span id="collectionInfo"></span>
              </div>
            </div>
            <div class="col-md-8 no-padding float-bottom">
              <div>
                Displaying <span id="collectionGeospatialSize"></span> geospatial objects of <span id="collectionSize"></span> records.
              </div>
            </div>
            <div id="map-container">
            </div>
            <div id="tooltip">
            </div>
          </div>
          <div class="col-md-4 no-padding">
            <ul id="tabs" class="nav nav-tabs">
              <li id="tools-tab" class="tab active"><a href="#">Tools</a></li>
              <li id="filters-tab" class="tab"><a href="#">Filters</a></li>
            </ul>
            <div id="tools-tab-container" class="mapToolBar side-panel">
              <h2 class="display-4 landing-title tool-section-title"><span>Geospatial Tools</span></h2>
              Generate geospatial queries by selecting one of the following tools...

              <div class="panel tool-section">
                <div class="panel-heading clickable panel-collapsed">
                  <h3 class="panel-title">
                    <img src="images/intersects.svg" alt="Intersects Icon" class="icon">
                    <span class="">Near</span>
                    <span class="pull-right"><i class="fas fa-plus expand-toggle"></i></span>
                  </h3>
                </div>
                <div class="panel-body">
                  <div>
                    Specifies a point for which a geospatial query returns the documents from nearest to farthest.
                  </div>
                  <div class="text-center">
                    <img src="images/intersects.svg" alt="Within" class="content-image">
                  </div>
                  <input type="button" name="createIntersectsQuery" class="btn-default-inverse btn-default-inverse-hover pull-right btn-green" value="Create Query" />
                </div>
              </div>

              <div class="panel tool-section">
                <div class="panel-heading clickable panel-collapsed">
                  <h3 class="panel-title">
                    <img src="images/intersects.svg" alt="Intersects Icon" class="icon">
                    <span class="">Intersects</span>
                    <span class="pull-right"><i class="fas fa-plus expand-toggle"></i></span>
                  </h3>
                </div>
                <div class="panel-body">
                  <div>
                    Selects geospatial objects which intersects within a specified GeoJSON object.
                  </div>
                  <div class="text-center">
                    <img src="images/intersects.svg" alt="Within" class="content-image">
                  </div>
                  <input type="button" name="createIntersectsQuery" class="btn-default-inverse btn-default-inverse-hover pull-right btn-green" value="Create Query" />
                </div>
              </div>

              <div class="panel tool-section">
                <div class="panel-heading clickable panel-collapsed">
                  <h3 class="panel-title">
                    <img src="images/within.svg" alt="Intersects Icon" class="icon">
                    <span class="">Within</span>
                    <span class="pull-right"><i class="fas fa-plus expand-toggle"></i></span>
                  </h3>
                </div>
                <div class="panel-body">
                  <div>
                    Select geospatial data that exists entirely within a specified shape.
                  </div>
                  <div class="text-center">
                    <img src="images/within.svg" alt="Within" class="content-image">
                  </div>
                  <input type="button" name="createWithinQuery" class="btn-default-inverse btn-default-inverse-hover pull-right btn-green" value="Create Query" />
                </div>
              </div>
            </div>
            <div id="filters-tab-container" class="side-panel mapToolBar hidden">
              <div class="filters-content">
                <h2 class="display-4 landing-title tool-section-title"><span>Collection Filters</span></h2>
                <p>
                  Filter your collection to visualise geospatial objects with specific attributes.
                </p>
                <h4>Attributes:</h4>
                <div id="collectionAttributes"></div>
              </div>
              <div class="filters-submit">
                <input type="button" name="applyFilters" class="btn-default btn-default-hover pull-right btn-green" value="Apply Filters" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
