<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <!-- Bootstrap -->
   <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <!-- jquery -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script> <!-- Change to min file -->
  <!-- D3 -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <!-- /public/js/.. -->
  <script type="text/javascript" src="js/map.js"></script>
  <!-- /public/css/.. -->
  <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">

  <title>Visualise Spatial Queries</title>

</head>

<body>

  <nav class="navbar navbar-default nav">
  <div class="container-fluid">
    <div class="navbar-header">
        <p class="h3 navbar-text">Visualise MongoDB Spatial Queries</p>
    </div>
  </div>
</nav>

<div id="map-container">
</div>

<div id ="tooltip">
</div>

</body>
</html>
