@font-face {
  font-family: Pangram;
  src: url("../fonts/Pangram-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Pangram;
  font-weight: 100;
  src: url("../fonts/Pangram-Light.otf") format("opentype");
}

@font-face {
  font-family: Pangram;
  src: url("../fonts/Pangram-Bold.otf") format("opentype");
  font-weight: 700;
  font-weight: bold;
}

html, body {
  height: 100%;
  font-family: Pangram, Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* class themes */
.nav {
  /*background-color: #A9B7CD; */
}

/*Landing Page*/
.landing-page {
  background: #f5f5f5;
  height: 100%;
}

.connection-container {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.connection-input .jumbotron {
  height: 443px;
  background: #4CA84A !important;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.28);
  padding-right: 10px;
}

.landing-title {
  width: 100%;
  color: #f5f5f5;
  font-weight: 100;
  margin-right: -60px;
}

.landing-title-center {
  padding-top: 44px;
}

.landing-title span {
  position: relative;
  padding-bottom: 5px;
}

.landing-title span::after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  border-bottom: 2px solid #f5f5f5;
  content: "";
}

.landing-subtitle {
  width: 100%;
  color: #f5f5f5;
  font-weight: 100;
  margin-right: -60px;
  font-size: 14px;
}

.connection-successful {
  padding-bottom: 20px;
}

.conn-modal .modal-content {
  width: 100%;
}

.conn-modal .modal-dialog-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(90% - (.5rem * 2));
}

@media (min-width: 576px) {
  .conn-modal .modal-dialog-centered {
    min-height: calc(90% - (1.75rem * 2));
  }
}

@media (min-width: 768px) {
  .conn-modal .modal-dialog {
    width: 300px;
  }
}

.conn-modal-title {
  vertical-align: middle;
  padding: 24px 0px 24px 0px;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.75);
  letter-spacing: 1px;
  line-height: 15px;
}

fieldset {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

fieldset:not(:first-of-type) {
  display: none;
}

.form {
  padding-top: 10px;
  position: relative;
}

.form-label {
  text-indent: 10px;
  color: #f5f5f5 !important;
}

.form-input {
  width: 82%;
  -webkit-box-shadow: 0px 3px 19px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 0px 3px 19px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 0px 3px 19px 0px rgba(0, 0, 0, 0.11);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

.form-input-empty {
  background-color: #ffcd71;
}

.form-dropdown {
  min-width: 200px;
  text-align: left;
  background-color: #f5f5f5;
  color: rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

.auth-dropdown>.dropdown-menu {
  min-width: 200px;
}

.auth-dropdown>.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.form-navigation {
  width: 82%;
  padding-top: 25px;
}

.form-navigation-col {
  width: 90%;
  padding-top: 7px;
}

.form-caret {
  margin-top: 8px;
}

.form-hr {
  margin-top: 16px;
  border: 1px solid #f5f5f5;
}

.authentication-details {
  display: none;
}

#collection-list > thead {
  width: 100% !important;
}

#collection-list {
  table-layout: fixed;
  white-space: nowrap;
  width: 90%;
}

#collection-list td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#collection-list-items {
  display: block;
  height: 195px;
  overflow: auto;
}

#collection-list>thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

#collection-list>thead {
  width: calc(100% - 1em);
}

#collection-list.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #F5F5F5;
}

#collection-list.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
  background-color: #FFFFFF;
}

.table-hover tbody tr:hover td {
  background-color: rgba(108, 88, 179, 0.75) !important;
  color: #FFF;
}

.table-hover tbody tr:hover td {
  background-color: rgba(108, 88, 179, 0.75) !important;
  color: #FFF;
}

#collection-list .row-id {
  width: 15%;
}

#collection-list .row-collection-name {
  width: 85%;
}

.selected {
  font-weight: bold;
}

#collection-list {
  overflow: auto;
  max-height: 300px;
}

ul#progressbar {
    margin-left: -15px;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: rgba(108, 88, 179, 1);
    text-transform: uppercase;
    font-size: 9px;
    width: 25%;
    float: left;
    position: relative;
    letter-spacing: 1px;
    text-align: center;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 26px;
    display: block;
    font-size: 12px;
    color: #333;
    background: white;
    border-radius: 25px;
    margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1;
}

#progressbar li:first-child:after {
    content: none;
}

#progressbar li.active:before, #progressbar li.active:after {
    background: rgba(143, 130, 200, 1);
    color: #F5F5F5;
}

.btn-default {
  min-width: 80px;
  height: 25px;
  padding: 0px 15px 0px 15px;
  display: table-cell;
  vertical-align: middle;
  font-size: 14px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.75);
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(245, 245, 245, 0.75);
  border-radius: 40px;
  background: #f5f5f5;
  transition: all 0.3s ease 0s;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.55);
}

.btn-default-hover:hover {
  color: #FFF;
  background: rgba(108, 88, 179, 0.75);
  border: 2px solid rgba(108, 89, 179, 0.75);
}

.btn-default-inverse {
  margin-top: 30px;
  min-width: 80px;
  height: 25px;
  padding: 0px 15px 0px 15px;
  display: table-cell;
  vertical-align: middle;
  font-size: 14px;
  font-weight: bold;
  color: rgba(245, 245, 245, 1);
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgb(69, 154, 59);
  border-radius: 40px;
  background: #4ba840;
  transition: all 0.3s ease 0s;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.55);
}

.btn-default-inverse-hover:hover {
  color: #FFF;
  background: rgba(108, 88, 179, 0.75);
  border: 2px solid rgba(108, 89, 179, 0.75);
}

.tab {
  display: none;
}

.test-connection {
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: center;
}

.float-bottom {
  height: 30px;
  position: relative;
}

.float-bottom div {
  position: absolute;
  bottom: 0;
}

.collection-info {
  padding-bottom: 15px;
}

/*Map*/
#map-container {
  text-align: center;
  margin: 0 auto;
  width: -webkit-fill-available;
  height: 500px;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.28);
}

@media (min-width: 992px) {
  #map-container {
    margin-top: 29px;
  }
}

div.tooltip {
  position: absolute;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  min-width: 60px;
  height: 28px;
  max-width: 300px;
  padding: 8px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none !important;
}

.no-padding {
  padding: 0px !important;
  margin: 0 !important;
}

/* Map Tools */
.selection {
  fill: #ADD8E6;
  stroke: #ADD8E6;
  fill-opacity: 0.3;
  stroke-opacity: 0.7;
  stroke-width: 2;
  stroke-dasharray: 5, 5;
}

.mapToolBar {
  background: #4CA84A !important;
  height: 500px;
  width: auto;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.28);
  border-left: 4px solid #F5F5F5;
  padding: 15px;
  overflow-y: auto;
}

.filters-content {
  height: 90%;
}
#collectionAttributes {
  margin-bottom: 50px;
}

.filters-submit {
  padding: 7px 7px 10px 7px;
  position: absolute;
  margin-bottom: 0px;
  margin-right: 0px;
  background: #4CA84A;
  width: -webkit-fill-available;
  margin-right: 31px;
}

.mapToolBar::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}

.mapToolBar::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.mapToolBar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

#tabs {
  margin-left: 4px;
}

#tabs>li>a {
  padding-top: 3px;
  padding-bottom: 3px;
}

.tool-section-title {
  padding-bottom: 30px;
}

.tool-section {
  color: rgba(0, 0, 0, 0.75);
  font-weight: 700;
  font-size: 18px;
  min-height: 14.6%;
  border-width: 0px 0px 0px 0px;
  padding: 0px 10px 0px 10px;
  border-style: solid;
  margin-top: 14px;
  display: block;
  background: #f5f5f5;
  border-radius: 10px;
}

.tool-section>.panel-heading:hover {
  color: #FFF;
  background: rgba(108, 88, 179, 0.75);
  border: 2px solid rgba(108, 89, 179, 0.75);
}

.tool-section>.panel-heading {
  padding: 18px 15px !important;
  border-radius: 10px;
  padding-left: 3px;
  margin-left: -10px;
  margin-right: -10px;
}

.tool-section>.panel-body {
  display: none;
  font-size: 12px;
}

.filter-section {
  margin-bottom: 9px !important;
}

.filter-section > .panel-heading {
  padding: 9px 15px !important;
}

.clickable {
  cursor: pointer;
}

.icon {
  height: 50px;
  width: auto;
  padding-right: 8px;
}

.content-image {
  height: auto;
  width: 45%;
  padding-top: 15px;
}

.expand-toggle {
  padding-top: 19px;
  font-size: 15px;
}
